# Database
DB_IMAGE=postgres:14.4-alpine
DB_NAME=test
DB_USER=postgres
DB_PASS=password
DB_PORT=5432
DATABASE_URL="postgresql://postgres:password@localhost:5432/test?schema=public"

# App
PORT=3000
JWT_SECRET=hana862001
